body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="time"],
.container input[type="number"],
.container textarea {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.container textarea {
    resize: vertical;
}

.container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0056b3;
}

.mensagem {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

#agendas-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#content {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
}
