body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
}
#loginHeader {
    text-align: center;
    margin-bottom: 30px;
}
#authorize_button, #atualizarReuniao-btn, #signout_button, #listar-agendas-btn, #criarReuniao_button, #verificarResult-btn, button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px; 
    margin-top: 10px;
    display: block;
    width: auto;
    min-width: 120px; 
    text-align: center;
}
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* #mensagem {
    margin-top: 20px;
    text-align: center;
} */
/* #criarReuniao, #agendas-list, #verificarReuniao {
    display: none;
} */

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 5px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}